* {
    margin: 10;
    padding: 10;
  }
  
  body {
    background-color: #baa898;
    text-align: center; 
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 4vmin;
    font-weight: bold;
    color: #191913;
  }

  .home, .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  .player-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .player-inputs input,
  .player-inputs button {
    background-color: #fff;
    color: #191913;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: none;
  }
  
  /* Game page */
  h1 { 
    color: #4b2909; 
    margin-bottom: 1rem; 
    font-size: 5vmin; 
  }
  
  #turn-indicator {
    color: #4b2909;
    font-size: 3vmin;
    margin-bottom: 1rem;
  }
  
  .container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    flex: 1 1 30%;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    background-color: #eee0cb;
    cursor: pointer;
  }
  
  .p1 {
    color: #b0413e;
    font-weight: bold;
  }
  .p2 {
    color:#191913;
    font-weight: bold;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #fff;
    color: #191913;
    border-radius: 1rem;
    border: none;
    margin-top: 30px;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #fff;
    color: #191913;
    border-radius: 1rem;
    border: none;
  }
 
  @media (max-width: 600px) {
    .game {
      width: 90vmin;
      height: 90vmin;
    }
    .box { font-size: 12vmin; }
    h1 { font-size: 8vmin; }
    #turn-indicator { font-size: 5vmin; }
  }
  